@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/* Pc or notebook*/

html {
    scroll-behavior: smooth;
    font-family: 'Secular One', sans-serif;
    background-color: black;
    margin: 0;
}

button {
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
    padding: 5px 35px;
    background-color: #F8DF32;
    border: 5px solid black;
    border-color: #F8DF32;
    color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button:hover {
    color: grey;
}

button:active {
    background-color: orange;
    border-color: orange;
}

header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 15px;
    position: relative;
    z-index: 1; 
}

h2 {
    color: #F8DF32;
}

.second-order-button {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
    padding: 5px 35px;
    background-color: #F8DF32;
    border: 5px solid black;
    border-color: #F8DF32;
    color: black;
    border-radius: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    margin: 0;
    padding: 0 15px;
    text-decoration: none;
    font-size: 35px;
    color: #F8DF32;
}

.logo_nav {
    width: 80px;
    height: auto;
    padding: 0;
    margin: auto;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: #F8DF32;
    margin: 5px 0;
    transition: 0.4s;
}

/* main */
section {
    padding: 50px 0;
    text-align: center;
}

#home {
    position: relative;
    z-index: 1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background_video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content img {
    width: 80%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

/*"עלינו" */

#about {
    background-color: black;
    color: white;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-description p {
    font-size: 18px;
    line-height: 1.6;
}

.about-gif {
    margin-top: 30px;
}

.about-gif img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* "תפריט" */

#menu {
    padding: 50px 0;
    background-color: red;
    text-align: center;
}
#menu p {
    color: white;
    font-size: 20px;
}

#menu .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#menu .col-md-4 {
    margin-bottom: 30px;
    border: 2px solid white;
    flex-basis: calc(33.33% - 20px);
    border-radius: 10px;
    margin: 10px;
}

#menu .col-md-4 img{
    border-radius: 20px;
    border-color: #F8DF32;
    border-width: 3px;
}

/* footer "צור קשר" */

footer {
    background-color: black; 
    color: #fff; 
    padding: 50px 0; 
}

.telephone{
    font-size: 50px;
    color: red;
}

h3 {
    color: red;
    font-size: 24px; 
    margin-bottom: 20px; 
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-icons a {
    display: inline-block;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    overflow: hidden;
}

.social-icons img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: stretch;
        padding: 15px 10px;
    }

    .order-button {
        display: block;
        position: absolute;
        padding: 5px 15px;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
    }

    .logo_nav {
        width: 60px;
        padding: 0;
    }

    nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: red;
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    nav ul {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        padding: 5px 0;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.active + nav {
        display: flex;
        flex-direction: column;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    button {
        padding: 8px 25px;
    }
}